html, body {
	height: 100%;
	overflow-x: hidden;
}

body {
	background: url(../imagens/capa1.png),
				url(../imagens/ruido.png),
				linear-gradient(50deg,#0b2727,#009b7e);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}
.titulo-projetos {
    text-align: center;
}
  
.botao {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(33, 170, 175);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.botao:hover {
    background-color: rgb(15, 38, 39);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background 0.4s;
}
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    flex-wrap: wrap;
    z-index: 1;
    margin: 0 auto;
}
  
section .card {
    position: relative;
    width: 600px;
    height: 290px;
    margin: 30px;
    box-shadow: 20px 20px 50px #12121280;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top: 1px solid #ffffff80;
    border-left: 1px solid #ffffff80;
    backdrop-filter: blur(10px);
}

  
section .card .item {
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
}
  
section .card:hover .item {
    transform: translateY(60px);
    opacity: 1;
}
  
section .card .item h2 {
    position: absolute;
    top: -80px;
    right: 20px;
    font-weight: 800;
    font-size: 8em;
	letter-spacing: -0.06em;
    pointer-events: none;
    color: #ffffff57;
}
  
section .card .item h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}
  
section .card .item p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.card-1 {
    background: url(../imagens/farik.jpg);
}
.card-1:hover {
    transition: background .5s;
    background: url(../imagens/farikOpaci.png);
}

.card-2 {
    background: url(../imagens/card2.jpg);
}
.card-2:hover {
    background: url(../imagens/card2h.png);
    transition: background .5s;
}


@media (min-width: 500px) and (max-width:699.99px){
    .titulo-projetos {
        font-size: 1.8rem;
    }
}

@media (min-width: 700px) and (max-width:999.99px) {
    .titulo-projetos {
        font-size: 2.5rem;
    }
}

@media (min-width: 1000px) and (max-width:1299.99px) {
    .titulo-projetos {
        font-size: 3rem;
    }
}

@media(min-width: 1300px) {
    .titulo-projetos {
        font-size: 4rem;
    }
}
